@import url('https://fonts.googleapis.com/css2?family=Acme&family=Work+Sans:wght@400;600&display=swap');

:root {
  --green:#68AC71;
  --lightGreen:#B9CABC;
  --white:white;
  --violet: #837694;
  --black: #252529;
  --yellow:#E09F3E;
}

body {
  font-family: 'Acme', sans-serif;
  border: 1px solid green;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
}

main {
  border: 1px solid red;
  height: 100vh;
 
}
header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin-top: 0;
}
.menu , .settings {
  padding-top: 0.3em;
}

.active {
  display: block;
}
.inactive {
  display: none;
}

.game-wrapper {
  height: 100vh;
  border: 1px solid yellow;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .letter-chart {
    border: 1px solid pink;
    padding: 20px;
  }

  .row {
    border: 1px solid black;
    /* padding: 20px; */
    /* width: 100%; */
    /* margin: 0; */
    display: flex;
    justify-content: center;
  }

.circle {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;


  margin: 0.2em;
  /* padding: 10px; */
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}
.circle--correct {
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
}
.circle--error {
  color: var(--violet);
  background-color: var(--white);
  border: 2px solid var(--violet);
}
.circle--exsit {
  color: var(--white);
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  /* border: 2px solid var(--black); */
}
.circle--empty {
  border: 2px solid var(--lightGreen);
  color: var(--lightGreen);
  background-color: var(--white);
}

/* Keyboard */

.keyboard {
  width: 100%;
  /* border: 1px solid gold; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
}

.keyboard-row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
  height: 2.4em;

}
.keyboard-key {
  /* border: solid 1px blue; */
  border-radius: 50%;
  width: 2.5em;
  margin: 0.2em;
  height: 2.5em;  
}

#bottom-keyboard-row {
  padding-right: 10px;
  padding-left: 10px;
}


/* 
******************** */

/* Welcome section */
.wrapper {
  padding-top: 2em;
  width: 80%;
  margin: 0 auto;
  min-height: 30vh;
  background-color: rgba(255, 255, 255, 0.728);
  -webkit-box-shadow: -2px 2px 12px -3px #000000; 
  box-shadow: -2px 2px 12px -3px #000000;
}
.welcome h2 {
  text-align: center;
}
#username-form {
  width: 50%;
 display: block;
  margin: 0 auto;
}
#username-form label {
  opacity: 0.8;
  font-size: 0.8em;
}
#username-form button {
  width: 153px;
  margin-top: 0.7em;
  background-color: #000000;
  color: white;
  opacity: 0.7;
  border: none;
  padding: 0.4em;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
}
#username-form button:hover {
  color:#5DA95F;
  
}
#username {
  width: 147px;;
  border: 1px solid black;
   padding-top: 0.3em; 
   font-family: 'Acme', sans-serif;
   margin-top: 0.8em;
}