@import url('https://fonts.googleapis.com/css2?family=Acme&family=Work+Sans:wght@400;600&display=swap');

:root {
  --green:#68AC71;
  --lightGreen:#B9CABC;
  --white:white;
  --violet: #837694;
  --black: #252529;
  --yellow:#E09F3E;
}

body {
  font-family: 'Acme', sans-serif;
  /* border: 1px solid green; */
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
}

main {
  /* border: 1px solid red; */
  height: 100vh;
 
}
header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-top: 0;
}
.menu , .settings {
  padding-top: 0.3em;
}

.active {
  display: block;
}
.inactive {
  display: none;
}

.game-wrapper {
  height: 100vh;
  /* border: 1px solid yellow; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }
.wordle-container {
  /* height: 100vh; */
  /* border: 1px solid yellow; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
  .letter-chart {
    /* border: 1px solid pink; */
    padding: 20px;
  }

  .row {
    border: 1px solid black;
    /* padding: 20px; */
    /* width: 100%; */
    /* margin: 0; */
    display: flex;
    justify-content: center;
  }

.circle {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  color: black;


  margin: 0.2em;
  /* padding: 10px; */
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}
.circle--correct {
  color: black;
  /* background-color: var(--green); */
  /* border: 2px solid var(--green); */
}
.circle--error {
  color: balck;
  /* background-color: var(--white); */
  /* border: 2px solid var(--violet); */
}
.circle--exsit {
  color: black;
  /* background-color: var(--yellow); */
  /* border: 1px solid var(--yellow); */
  /* border: 2px solid var(--black); */
}


/* Keyboard */

.keyboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.keyboard-row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
  height: 2.4em;

}
.keyboard-key {
  /* border: solid 1px blue; */
  border: 1px solid black;
  color: black;
  border-radius: 50%;
  width: 2.5em;
  margin: 0.2em;
  height: 2.5em;
}

#bottom-keyboard-row {
  padding-right: 10px;
  padding-left: 10px;
}


/* 
******************** */

/* Welcome section */

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
 
}
.welcome-wrapper h2 {
  text-align: center;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10em;
  text-align: center;
  /* margin-bottom: 1em; */
  height: fit-content;
}

.welcome-message h1 {
  font-size: 2em;
  margin: 0;
  color: var(--yellow);
}

#username-form {
  display: flex;
  height: 7em;
  flex-direction: column;
  align-items: center;
}
#username-form label {
  opacity: 0.8;
  font-size: 0.8em;
}
.btn-primary {
  width: 153px;
  margin-top: 0.7em;
  background-color: #000000;
  color: white;
  opacity: 0.7;
  border: none;
  padding: 0.4em;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
}
.btn-primary:hover {
  color:#5DA95F;

}
#username {
  width: 147px;;
  border: 1px solid black;
   font-family: 'Acme', sans-serif;
   margin-top: 0.8em;
}

/* Scoreboard and result card */

.user-result-wrapper {
  /* border: solid 1px red; */
  padding: 10px;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.result-card {
  /* border: solid 1px blue; */
  width: 15em;
  padding: 1em;
  box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  -webkit-box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  -moz-box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  border-radius: 3px;
  /* width: 20em; */
}
.result-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreboard p {
  font-size: 0.7em;
  font-weight: lighter;
}
.result-message h1 {
  font-size: 2em;
}
.scoreboard {
  width: 20em;
  height: 20em;
}
.scoreboard-wrapper {
  /* border: solid 1px brown; */
  display: flex;
  flex-direction: column;
  box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  -webkit-box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  -moz-box-shadow: 5px -2px 19px -9px rgba(0,0,0,0.89);
  border-radius: 3px;
}
.scoreboard-wrapper h3 {
  font-size: 1.7em;
  text-align: center;
}
.scoreboard-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-evenly */
}
.user-scoreboard {
  text-align: center;
}
.user-scoreboard h4 {
  color: var(--yellow);
  font-size: 1.3em;
  /* overflow-x: scroll; */
}



@media only screen and (min-width: 768px) {
  
  .game-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .result-card {
    width: 30em;
    height: 15em;
  }
  .scoreboard {
    /* height: 37em; */
    margin-left: 5rem;
    margin-top: -19rem;
  }

  .score-width {
    height: 33rem;
    overflow: hidden;
    overflow-y: scroll;
  }

}
